@import "reset.css";

html {
    margin: 0 auto;
}

body {
    font-family: 'Paytone One', sans-serif;
    color: white;
}

.wrapper {
    background: url(Rectangle\ 1.svg), url(Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    margin: 0 auto;
    width: 1400px;
    /* height: 240vh; */
}

nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 0 95px 100px;
}

.nav--links {
    margin-left: 70px;
}

.nav--links a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    text-transform: uppercase;
}


main {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0px 35px 0px rgb(0 0 0);
    z-index: 2;
    width: 1000px;
    /* height: 150vh; */
    margin: 0 auto;
    background: linear-gradient(rgba(50, 42, 39, 0.1) 30%, rgba(50, 42, 39, 0.8) 35%, #2D2828 50%, #2D2828 100%)
}

.about {
    padding: 85px 495px 200px 65px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    text-align: justify;
}

.about h1 {
    padding: 0 690px 20px 0;
    font-size: 64px;
}

.about h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.about p {
    font-size: 18px;
}

.social_media {
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 75px auto;
}


.marketing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.marketing--images {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 840px;
    height: 310px;
    margin: 0 70px;
    
}

.marketing--images img:nth-child(1) {
    z-index: 1;
    align-self:center;
    width:313px;
}

.marketing--images img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.marketing--images img:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.marketing--load {
    display:inline-flex;
    align-items: center;
    /* width:570px; */
    margin-top:130px;
    font-size: 25px;
}

.marketing--load h1{
    margin-right:5px;
}

.marketing--load button {
    display:inline-flex;
    border-style:none;
    width:142px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    outline-style: none;
    margin-left:7px;
    border-radius:25px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6A3A1B;
}

.marketing--load button img{
    margin-right:5px;
}

.marketing--load button a{
    padding:5px 10px;
    text-decoration: none;
    color:white;
    font-family: arial;
}


.notifications{
    margin-top:60px;
    margin-left:65px;
    margin-bottom:50px;
}
.notifications--pop{
    font-size: 18px;
    margin-bottom:25px;
    width:500px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.notifications h1{
    align-self: center;
    margin:0 130px 0px 10px;
}
.notifications--amount{
background-color: #FF1640;
width:35px;
height:35px;
border-radius:50%;
line-height: 35px;
text-align: center;
/* font-size: 18px; */
}

.notifications--action{
    border-style:none;
    height:35px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:25px;
    background-color: #C4C4C4;
}

.circle1 {
    display:inline-block;
    width: 21px;
    height:21px;
    border-radius:50%;
    border:2px #2D2828 solid;
    margin-right:7.5px;
    margin:5px 5px;
}

.circle2 {
    width: 5px;
    height:5px;
    border-radius:50%;
    transform: translate(calc(50% + 1.5px), calc(50% + 1.5px));
    border:2px #2D2828 solid;
}

.notifications--action a{
    display:inline-flex;
    align-items: center;
    font-size: 14px;
    padding-right:14px;
    text-decoration:none;
    color: black;
    font-size: 16px;
}

.notifications--message{
    display:flex;
    background-color:#B5B6B8;
    width:500px;
    position:relative;
}




.user{
    display:flex;
    font-size:18px;
}

.user--info{
    margin:20px 30px 10px 0px;
}

.user--info h1{

}
.user h1{
    align-self:inherit;
    color:black;
    margin:0px 0px 10px 0px;
}
.user p{
    font-family:arial;
    font-size: 16px;
    color:rgba(45, 40, 40, 0.5);
}
.user img:nth-of-type(1){
    margin:14px 17px;
}

.user img:nth-of-type(2){
    position:absolute;
    top:65px;
    left:52px;
}

.notifications--info{
    padding:25px 30px 0 0;
}

.notifications--info h1{
    font-size:22px;
    margin:0 0 20px 0;
    color:black;
}

.notifications--info p{
    margin-bottom:20px;
    font-size:14px;
    color:#2D2828;
    text-align:justify;
}

.partners{
    width:840px;
    display:flex;
    margin-bottom:20px;
    align-items: center;
    justify-content: space-evenly;
    
}
