@import "reset.css";

html {
    margin: 0 auto;
}

body {
    font-family: 'Paytone One', sans-serif;
    color: white;
}

.wrapper {
    width: 1400px;
    background: url(Rectangle\ 1.svg), url(Rectangle\ 2.svg);
    background-repeat: no-repeat, repeat;
    background-color: #E5E5E5;
    margin: 0 auto;
}

nav {
    width: 42.86%;
    padding-top: 30px;
    margin: 0 0 95px 7.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--links {
    margin-left: 11.67%;
}

.nav--links a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    text-transform: uppercase;
    transition:.2s;
}

.nav--links a:hover{
    color:red;
}


main {
    width: 1000px;
    z-index: 2;
    background: linear-gradient(rgba(50, 42, 39, 0.1) 30%, rgba(50, 42, 39, 0.8) 35%, #2D2828 50%, #2D2828 100%);
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0px 35px 0px rgb(0 0 0);
}

.about {
    height:235px;
    width:440px;
    padding-bottom: 200px;
    margin:85px 0 0 65px;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.1); */
    text-align: justify;
}

.about h1 {
    padding: 0 690px 20px 0;
    font-size: 64px;
}

.about h2 {
    padding-bottom: 20px;
    font-size: 20px;
}

.about p {
    font-size: 18px;
}

.social_media {
    width: 870px;
    margin: 0 auto 75px auto;
    padding:10px 65px 0 65px;
    border-top:2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_media a{
    transition:.2s;
}

.social_media a:hover{
    transform: scale(1.15);
}


.marketing{
    margin-bottom:60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.marketing--images {
    width: 840px;
    height: 310px;
    margin: 0 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.marketing--images img:nth-child(1) {
    width:313px;
    z-index: 1;
    align-self:center;
}

.marketing--images img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.marketing--images img:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
}

.marketing--load {
    margin-top:50px;
    display:inline-flex;
    align-items: center;
    font-size: 25px;
}

.marketing--load h1{
    margin-right:5px;
}

.marketing--load button {
    width:142px;
    background-color: #6A3A1B;
    margin-left:7px;
    border-style:none;
    border-radius:25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    display:inline-flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 14px;
}

.marketing--load button img{
    margin-right:5px;
}

.marketing--load button a{
    padding:5px 10px;
    font-family: arial;
    color:white;
    text-decoration: none;
}
.marketing--load button:hover{
    animation-name: shake;
    animation-duration: .5s;
}
@keyframes shake {
    0% {transform:translateY(0)}
    25% {transform:translateY(-1px)}
    50% {transform:translateY(1px)}
    75% {transform:translateY(-2px)}
    100% {transform:translateY(2px)}
  }

.notifications{
    width:500px;
    margin:60px 0 50px 81px;
}

.notifications--pop{
    margin-bottom:25px;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.amount{
    display:flex;
}

.notifications h1{
    margin-left:10px;
    align-self: center;
}

.notifications--amount{
    width:35px;
    height:35px;
    background-color: #FF1640;
    border-radius:50%;
    line-height: 35px;
    text-align: center;
}

.notifications--action{
    width:138px;
    height:35px;
    box-sizing: border-box;
    display:inline-flex;
    padding-right:12px;
    background-color: #C4C4C4;
    border-radius:25px;
    border-style:none;
    cursor:pointer;
    color: black;
    font-size: 16px;
    justify-content:center;
    align-items: center;
}

.circle1 {
    width: 21px;
    height:21px;
    border-radius:50%;
    margin-right:7.5px;
    margin:5px 5px;
    border:2px #2D2828 solid;
    display:inline-block;
}

.circle2 {
    width: 5px;
    height:5px;
    border-radius:50%;
    border:2px #2D2828 solid;
    transform: translate(calc(50% + 1.5px), calc(50% + 1.5px));
}
.notifications--action:hover{
    animation-name: shakeAnim;
    animation-duration: .2s;
}

@keyframes shakeAnim {
    0% {transform:translate(0)}
    12.5% {transform:translate(-3px)}
    25% {transform:translate(5px)}
    37.5% {transform:translate(-8px)}
    50% {transform:translate(8px)}
    62.5% {transform:translate(-5px)}
    75% {transform:translate(3px)}
    87.5% {transform:translate(0)}
  }

.notifications--message{
    background: url(Rectangle\ 13.svg);
    background-size: cover;
    cursor:pointer;
    display:flex;
    position:relative;
}

.user{
    font-size:18px;
    display:flex;
}

.user--info{
    margin:20px 30px 10px 0px;
}

.user h1{
    margin:0px 0px 10px 0px;
    align-self:inherit;
    color:black;
}
.user p{
    font-family:arial;
    font-size: 16px;
    color:rgba(45, 40, 40, 0.5);
}
.user img:nth-of-type(1){
    margin:14px 17px;
}

.user img:nth-of-type(2){
    position:absolute;
    top:65px;
    left:52px;
}

.notifications--info{
    padding:25px 30px 0 0;
}

.notifications--info h1{
    font-size:22px;
    margin:0 0 20px 0;
    color:black;
}

.notifications--info p{
    margin-bottom:20px;
    font-size:14px;
    color:#2D2828;
    text-align:justify;
}

.partners--logos{
    width:840px;
    height:54px;
    margin:50px auto 56px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.partners--logos img:nth-of-type(1){
    margin-top:15px;
}

.partners--logos img:nth-of-type(3){
    margin-bottom:5px;
}


.partners--review{
    width:840px;
    margin:0 auto 30px;
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.partners--review--1,
.partners--review--2,
.partners--review--3{
    position:relative;
}

.partners--review--1 img:nth-of-type(1),
.partners--review--2 img:nth-of-type(1),
.partners--review--3 img:nth-of-type(1){
    margin-bottom:25px;
}

.partners--review--1 img:nth-of-type(2),
.partners--review--3 img:nth-of-type(2){
    position:absolute;
    top: 25px;
    left: 105px;
}

.partners--review--2 img:nth-of-type(2){
    position:absolute;
    top:20px;
    left:60px;
}

footer{
    background: url(footer.svg);
    background-repeat: no-repeat;
    position:relative;
    padding-top:155px;
    font-size: 18px;
    
}
.footer--container{
    margin:0 60px 0 60px;
    padding-bottom:30px;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
}

.redDot{
    height:117px;
    width:117px;
    background-color: #FF1640;
    position:absolute;
    top:20px;
    left:calc(50% - (117px / 2));
    border-radius:50%;
}

.footer--container h1{
    margin-top:-7px;
    font-size: 45px;
    text-transform: uppercase;
}
.footer--container--company,
.footer--container--resources,
.footer--container--explore{
    display:flex;
    flex-direction: column;
}
.footer--container a{
    width: max-content;
    margin-top:15px;
    font-family: arial;
    font-size: 16px;
    text-decoration: none;
    color:white;
    transition:.2s;
}


.footer--container a:hover{
color:red;
}

.copyright{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.copyright a {
    margin-left:30px;
    display:initial;
}
.copyright img{
    transition:.2s;
}

.copyright img:hover{
    transform: scale(1.2);
}
.copyright p{
    margin-top:15px;
}
.copyright p:nth-of-type(2){
    margin-top:15px;
    font-size: 16px;
    font-family: arial;
}

.hide{
    display:none;
}
